@using WebKoi6.DAL.Models;
@model Bacsi;
@{
    ViewData["Title"] = "";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var title = string.Empty;
    if (Model.Id > 0)
    {
        title = "Chỉnh sửa bác sĩ";
    }
    else
    {
        title = "Thêm mới bác sĩ";
    }
}
<div class="row">
    <div class="col-lg-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">@title</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Trang chủ</a></li>
                    <li class="breadcrumb-item active">@title</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">@title</h4>
            </div>
            <div class="card-body">
                <div class="live-preview">
                    <p class="text-danger">@ViewBag.Error</p>
                    <form action="/Admin/Bacsi/AddOrEdit" method="post">
                        <input type="hidden" value="@Model.Id" name="Id" />
                        <div class="row gy-4">
                            <div class="col-xxl-4 col-md-6">
                                <div>
                                    <label class="form-label">Tên bác sĩ<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" name="TenBacSi" value="@Model.TenBacSi" required>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-md-6">
                                <div>
                                    <label class="form-label">Kinh nghiệm<span class="text-danger">*</span></label>
                                    <input type="number" class="form-control" name="KinhNghiem" value="@Model.KinhNghiem" required>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-md-6">
                                <div>
                                    <label class="form-label">Email<span class="text-danger">*</span></label>
                                    <input type="email" class="form-control" name="Email" value="@Model.Email" required>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-md-6">
                                <div>
                                    <label class="form-label">Số điện thoại<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" name="Sodienthoai" value="@Model.Sodienthoai" required>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-md-6">
                                <div>
                                    <label class="form-label">Trạng thái hiện tại<span class="text-danger">*</span></label>
                                    <select class="form-control" name="Availability">
                                        <option value="Rảnh" @(Model.Availability == "Rảnh" ? "selected" :"")>Rảnh</option>
                                        <option value="Bận" @(Model.Availability == "Bận" ? "selected" : "")>Bận</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xxl-12 col-md-12">
                                <div>
                                    <label class="form-label">Nội dung thời gian làm việc<span class="text-danger">*</span></label>
                                    <textarea class="form-control" name="Noidung" cols="6" rows="6">@Model.Noidung</textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary waves-effect waves-light">Lưu</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--end col-->
</div>